.container {
  position: relative;
  top: -6px;

  border-radius: 0 0 8px 8px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  background: #e3585a;
  .content {
    padding: 12px;
    .price {
      display: flex;
      align-items: center;

      margin: 0;
      color: #fff;
      font-size: 20px;
      opacity: 0.8;
      font-weight: 700;

      margin-bottom: 8px;
      div:last-child {
        opacity: 0.6;
        margin-left: 8px;
        font-size: 14px;
        text-decoration: line-through;
      }
    }
    .tags {
      display: inline;
      font-weight: 400;

      background: #e9e6bb;
      border-radius: 6px;

      color: #e3585a;

      font-size: 12px;
      opacity: 0.8;
      padding: 2px 6px;
      span {
        opacity: 0.8;
      }
    }
  }
  .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #d0382b75;
    position: relative;



    &::after {
      position: absolute;
      content: '';
      left: -12px;
      top: calc(50% - 6px);
      width: 0;
      border-top: 6px solid transparent;
      border-left: 6px solid transparent;
      border-right: 6px solid #d0382b75;
      border-bottom: 6px solid transparent;
    }

    .countdown_title {
      font-size: 12px;
      color: #fff;
      margin-bottom: 8px;
      letter-spacing: 1.2px;
      font-weight: 500;

      text-transform: uppercase;
    }

    .countdown_description {
      color: #fff;
      opacity: 0.8;
      font-size: 12px;
    }
    .countdown_time {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 8px;

      font-size: 12px;
      color: #fff;
      .countdown_symbol {
        margin: 0 4px;
      }
      .countdown_item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .container {
    border-radius: 0;
  }
}
