html,
body {
  font-family: 'Open Sans', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Arial, sans-serif;
  background-image: linear-gradient(#fff, #f8f9fc 160px, #f8f9fc);

  padding-top: constant(safe-area-inset-top);
  padding-Left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  padding-Left:env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

#app-content {
  min-height: calc(100vh - 560px);
  transition: all 300ms;
}
@media screen and (max-width: 1080px) {
  #app-content {
    min-height: calc(100vh - 550px);
  }
}

div {
  &::-webkit-scrollbar {
    height: 80px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c8c9cd;
    border-radius: 4px;
  }
}


img {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-focus: none;
  &[data-src] {
    background: #f7f8f9;
    box-sizing: border-box;

    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      background: #f7f8f9;
    }
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

