html,
body {
  font-family: var(--font-base, 'Open Sans', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Arial, sans-serif);
  background-image: linear-gradient(var(--color-page-bg, #fff), var(--color-page-bg, #f8f9fc) 160px, var(--color-page-bg, #f8f9fc));
  color: var(--color-body-fg, #000);

  padding-top: constant(safe-area-inset-top);
  padding-Left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  padding-Left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

#app-content {
  /* min-height: calc(100vh - 560px); */
  transition: all 300ms;
}

@media screen and (max-width: 1080px) {
  #app-content {
    /* min-height: calc(100vh - 550px); */
  }
}

div {
  &::-webkit-scrollbar {
    height: 80px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c8c9cd;
    border-radius: 4px;
  }
}


img {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-focus: none;

  &[data-src],
  &[data-loading] {
    box-sizing: border-box;
    background-size: 48px 48px;
    background-color: rgba(255, 255, 255, 0.8);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-blend-mode: overlay;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}