.container {
    margin: auto;
    box-sizing: border-box;

    padding-top: 126px;
    margin-bottom: 86px;
    position: relative;

    // 公共样式
    width: 746px;
    max-width: 100%;
    .flex_container {
      display: flex;
      .flex_right {
        width: 100%;
      }
      .content_container {
        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #262629;
    
            margin-bottom: 16px;
        }
      }
  }
}


@media screen and (max-width: 820px) {
    .container {
        width: 100%;
        padding-top: 0;
        .flex_container {
            .content_container {
              padding: 0 16px;
              .title {
                font-size: 24px;
                line-height: 32px;
              }
            }
        }
    }
}
