.container {
  padding-top: 60px;
  background: #fff;
  .nav_posity_container {
    position: fixed;
    top: 100px;
    height: 48px;
    background-color: #232526;
    left: 0;
    right: 0;
    z-index: 9;

    transition: all 300ms;
    .nav_posity_title {
      display: flex;
      align-items: center;

      height: 100%;

      max-width: 1200px;
      margin: auto;
      padding: 0 32px;
      line-height: 24px;
      font-weight: 500;
      font-size: 20px;
      color: #f1f1f1;
      margin-bottom: 0;
    }
  }
  .content_container {
    margin: 80px auto 0;
    padding-bottom: 120px;
    max-width: 1200px;
    .content_title {
      display: flex;
      justify-content: center;

      padding: 0 16px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      font-weight: 600;
    }
    .content_line {
      position: relative;
      width: 100%;
      height: 96px;
      margin: 0 auto;
      &::after {
        content: ' ';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        background-color: rgba(0, 0, 0, 0.09);
      }
    }
    .content {
      overflow: hidden;
      word-break: break-all;
      white-space: pre-line;
      padding: 0 18px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .container {
    margin-top: 0;
    padding: 20px 0;
    .nav_posity_container {
      top: 50px;
      .nav_posity_title {
        font-size: 18px;
      }
    }
    .content_container {
      margin: 70px auto 0;
      padding-bottom: 80px;
      .content_title {
        font-size: 32px;
      }
      .content_line {
        height: 50px;
      }
      .content {
      }
    }
  }
}
