.wangeditor-rich-text-css {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  Helvetica Neue, sans-serif;
  color: #898a8e;
  line-height: 24px;
  font-size: 16px;
  a {
    color: #4795e9;
  }
  
  p,
  div {
    margin: 0;
    margin-bottom: 32px;
  }
  
  h2 {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #262629;
  }
  
  h3 {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #262629;
  }
  
  ul {
    margin: 0;
    margin-bottom: 32px;
    padding-left: 24px;
    list-style: disc;
  }
  ol {
    margin: 0;
    margin-bottom: 32px;
    padding-left: 24px;
    list-style: decimal;
  }
  
  p + p,
    ul + ul,
    ol + ol,
    p + ul,
    p + ol,
    ul + p,
    ol + p,
    ol + ul,
    ul + ol,
    ol + ul,
    // Tables
    table + p,
    table + ul,
    table + ol,
    ol + table,
    p + table,
    ul + table,
    table + table,
    // img
    img + p,
    img + ul,
    img + ol,
    ol + img,
    p + img,
    ul + img,
    img + img,
    table + img,
    img + table,
    // video
    video + p,
    video + ul,
    video + ol,
    ol + video,
    p + video,
    ul + video,
    video + video,
    table + video,
    video + table,
    // iframe
    iframe + p,
    iframe + ul,
    iframe + ol,
    ol + iframe,
    p + iframe,
    ul + iframe,
    iframe + iframe,
    table + iframe,
    iframe + table,
    // div
    p + div,
    div + p,
    div + ul,
    div + ol,
    ol + div,
    p + div,
    ul + div,
    div + div,
    table + div,
    div + table,
    div + image,
    image + div,
    div + video,
    video + div,
    div + iframe,
    iframe + div {
    margin-top: -16px;
  }
  
  hr {
    height: 1px;
    margin: 32px 0;
    background-color: #dedede;
    border: none;
  }
  
  img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: contain;
  }
  
  iframe {
    display: block !important;
    width: 100%;
    max-width: 100%;
    height: min(520px, 56.25vw);
    margin: 0;
    margin-bottom: 32px;
  }
  
  p,
  div {
    video,
    img,
    iframe {
      margin: 0;
    }
  }
  
  table {
    width: 100% !important;
    margin-bottom: 32px;
    border-collapse: collapse !important;
  
    td,
    th {
      padding: 0.5em !important;
      text-align: left;
      border: 1px solid !important;
    }
  }
  
  h2,
  h3 {
    margin-top: -136px;
    padding-top: 136px;
  }
   
}