.goods_items {
  cursor: pointer;
  width: 290px;
  min-width: 290px;
  height: 435px;

  color: #434547;
  text-decoration: none;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f3f3f3;
  border-radius: 8px;

  margin: 0 10px 20px;
  overflow: hidden;

  &.big_item {
    width: 600px;
    min-width: 600px;
    height: 435px;

    video {
      border-radius: 8px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .infos_container {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .mask_bottom {
      position: absolute;
      content: "";
      left: 0;
      bottom: -64px;
      height: 64px;
      width: 100%;
      z-index: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: all 0.3s ease-in-out;
    }
    .mask_top {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: 88px;
      transition: all 300ms;

      opacity: 0;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    }
    .goods_item_price {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 16px;
      color: #000;
      transition: all 0.3s;

      bottom: 24px;
      left: 32px;
      right: 32px;
      .stock_tip {
        font-size: 14px;
        line-height: 21px;
        color: #afb1b4;
        font-weight: 700;
        transition: all 0.3s;
      }

      .price_container {
        display: flex;
        align-items: center;
        div:nth-child(2) {
          font-size: 14px;
          text-decoration: line-through;
          color: #afb1b4;
          margin-left: 8px;
        }
      }
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      transition: color 0.3s;

      position: absolute;
      top: 32px;
      left: 32px;
      right: 32px;
      color: #000;

      span {
        margin-right: 4px;
        &:last-child {
          margin-right: 0;
        }
      }

      h3 {
        margin: 0;
      }
      .stock_tip {
        display: inline-block;
        margin-top: 4px;
        padding: 2px 6px;
        color: rgb(255, 255, 255);
        background-color: rgb(67, 69, 71);
        transition: all 300ms;

        font-weight: 400;

        font-size: 12px;
        height: 18px;
        line-height: 18px;
        border-radius: 4px;
      }
      .discount_tip {
        display: inline-block;
        margin-top: 4px;
        padding: 2px 6px;
        color: rgb(255, 255, 255);
        background-color: #fd5b47;
        transition: all 300ms;

        font-weight: 400;

        font-size: 12px;
        height: 18px;
        line-height: 18px;
        border-radius: 4px;
      }
    }
    .good_discount {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: #000;

      display: flex;
      align-items: center;
      flex-direction: column;
      color: #fff;
      padding: 10px 4px;

      line-height: 1.3;

      min-width: 64px;
      border-radius: 100%;

      .off {
        text-transform: uppercase;
        color: #d8d8d8;
        font-size: 12px;
      }
      .discount {
        margin-top: 2px;
        margin-left: 6px;
        font-size: 14px;
      }
    }
  }
  .img_container {
    .goods_item_img {
      position: relative;
      width: 200px;
      height: 200px;
      transition: all 300ms;
      opacity: 1;
      img {
        object-fit: cover;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }

    .goods_item_hover_img {
      width: 100%;
      height: 100%;
      opacity: 0;
      object-fit: cover;

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: 300ms all;
      img {
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &:hover {
    .infos_container {
      &.hover_big {
        .mask_bottom {
          bottom: 0;
        }
        .goods_item_price {
          color: #fff;
          .stock_tip {
            color: #fff;
          }
        }
      }
      &:not(.hover_big) {
        .mask_top {
          opacity: 1;
        }
        .mask_bottom {
          bottom: 0;
        }
        .mask_top {
          opacity: 1;
        }
        .goods_item_price {
          color: #fff;
        }
        .title {
          h3 {
            color: #fff;
          }
          .stock_tip {
            background: #fff;
            color: #000;
          }
        }
      }
    }
    .img_container {
      .goods_item_img {
        &.hover_big {
          opacity: 1;
          transform: scale(1.1);
        }
        &:not(.hover_big) {
          opacity: 0;
        }
      }
      .goods_item_hover_img {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .goods_items {
    cursor: pointer;
    width: 330px;
    min-width: 330px;
    height: 440px;
    &.big_item {
      width: 680px;
      min-width: 680px;
      height: 440px;
      video {
      }
    }
    .infos_container {
      .mask_bottom {
      }
      .mask_top {
      }
      .goods_item_price {
      }
      h3 {
      }
    }
    .img_container {
      .goods_item_img {
        img {
        }
      }

      .goods_item_hover_img {
        img {
        }
      }
    }
    &:hover {
      .infos_container {
        .mask_top {
        }
        .mask_bottom {
        }
        .mask_top {
        }
        .goods_item_price,
        h3 {
        }
      }
      .img_container {
        .goods_item_img {
        }
        .goods_item_hover_img {
        }
      }
    }
  }
}

@media screen and (max-width: 1079px) {
  .goods_items {
    cursor: pointer;
    width: 360px;
    min-width: 360px;
    height: 480px;

    margin: 0 6px;
    margin-bottom: 12px;
    &.big_item {
      width: 732px;
      height: 549px;
      &.video_item {
        display: none;
      }
    }
    .infos_container {
      .mask_bottom {
      }
      .mask_top {
      }
      .goods_item_price {
      }
      h3 {
      }
    }
    .img_container {
      .goods_item_img {
        img {
        }
      }

      .goods_item_hover_img {
        img {
        }
      }
    }
    &:hover {
      .infos_container {
        .mask_top {
        }
        .mask_bottom {
        }
        .mask_top {
        }
        .goods_item_price,
        h3 {
        }
      }
      .img_container {
        .goods_item_img {
        }
        .video_item_pc {
          display: none;
        }
        .goods_item_hover_img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .goods_items {
    cursor: pointer;
    width: calc(100vw - 24px);
    min-width: calc(100vw - 24px);
    height: calc(100vw - 24px);
    border-radius: 4px;

    box-sizing: border-box;

    &.big_item {
      width: calc(100vw - 24px);
      min-width: calc(100vw - 24px);
      height: calc(100vw - 24px);
      border-radius: 4px;
    }

    .infos_container {
      .mask_bottom {
      }
      .mask_top {
      }
      .goods_item_price {
        line-height: 21px;
        font-size: 14px;
        color: #000;

        bottom: 24px;
        left: 24px;
        right: 24px;
      }
      .title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        top: 24px;
        left: 24px;
        right: 24px;
      }
    }
    .img_container {
      .goods_item_img {
        width: 45vw;
        height: 45vw;
        img {
        }
      }

      .goods_item_hover_img {
        display: none;
        img {
        }
      }
    }
    &:hover {
      .infos_container {
        &.hover_big {
          .mask_bottom {
            bottom: -64px;
          }
          .goods_item_price {
            color: #000;
          }
          .title {
            h3 {
              color: #000;
            }
            .stock_tip {
              color: rgb(255, 255, 255);
              background-color: rgb(67, 69, 71);
            }
          }
        }
        &:not(.hover_big) {
          .mask_top {
            opacity: 0;
          }
          .mask_bottom {
            bottom: -64px;
          }
          .mask_top {
            opacity: 0;
          }
          .goods_item_price {
            color: #000;
          }
          .title {
            h3 {
              color: #000;
            }
            .stock_tip {
              color: rgb(255, 255, 255);
              background-color: rgb(67, 69, 71);
            }
          }
        }
      }
      .img_container {
        .goods_item_img {
          &.hover_big {
            opacity: 1;
            transform: none;
          }
          &:not(.hover_big) {
            opacity: 1;
          }
        }
        .goods_item_hover_img {
          transform: none;
          opacity: 1;
        }
      }
    }
  }
}
