@keyframes translateAnimationIn {
  from {
    clip-path: inset(100% 0 0 0 round 20px 20px 0 0);
  }
  to {
    clip-path: inset(0 0 0 0 round 20px 20px 0 0);
  }
}


@keyframes translateAnimationOut {
  from {
      clip-path: inset(0 0 0 0 round 20px 20px 0 0);
    }
  to {
    clip-path: inset(100% 0 0 0 round 20px 20px 0 0);
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);
  transition: all 300ms;
  z-index: 999999999999999;
  opacity: 0;
  height: 100%;
  width: 100%;

  visibility: hidden;
  &[data-show="true"] {
    opacity: 1;
    z-index: 9999999999999;
    visibility: visible;
    .modal_content {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .modal_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    max-height: calc(84vh - 80px);
    max-width: 840px;

    transition: all 300ms;

    width: calc(100vw - 24px);
    background: #fff;
    padding: 32px;
    border-radius: 16px;

    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      padding-bottom: 16px;
      .title {
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        color: #333;

        text-align: left;
        padding-right: 8px;
      }
      .close {
        font-size: 26px;
        font-weight: 300;
        color: #333;

        cursor: pointer;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          left: -16px;
          top: -16px;
          bottom: -16px;
          right: -16px;
        }
      }
    }

    .content {
      width: 100%;
      padding-top: 4px;
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      overflow-y: scroll;
      form {
        width: 100%;
        .btn_container {
          margin-top: 16px;
          display: flex;
          width: 100%;
          justify-content: flex-end;
  
          .btn_cancel,
          button {
            display: flex;
            align-items: center;
            justify-content: center;
  
            padding: 10px;
            color: #fff;
            background-color: #3c3e40;
            font-size: 14px;
            min-width: 120px;
  
            border-radius: 8px;
            cursor: pointer;
  
            transition: all 400ms;
  
            border: 0;
            outline: none;
            &:hover {
              opacity: 0.8;
            }
            &:active {
              opacity: 1;
              background: #000;
            }
          }
          .btn_cancel {
            margin-right: 12px;
            background: #edeff2;
            color: #000;
            opacity: 1;
            &:hover {
              opacity: 1;
              background: #f8f9fc;
            }
            &:active {
              background: #e1e3e6;
            }
          }
        }
  
        &::-webkit-scrollbar {
          height: 80px;
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background: #c8c9cd;
          border-radius: 4px;
        }
       }
    }
  }
}

@media screen and (max-width: 940px) {
  .modal {
    .modal_wrapper {
      .modal_content {
        max-width: 700px;
        box-sizing: border-box;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .modal {
    display: flex;
    align-items: flex-end;
    &[data-show="true"] {
      opacity: 1;
      z-index: 999999999999;
      .modal_wrapper {
        .modal_content {
          transform: translateY(0) scale(1);
          opacity: 1;
        }
      }
    }
    &[data-show="false"] {
      opacity: 0;
      .modal_wrapper {
        animation: translateAnimationOut 300ms;
        .modal_content {
          transform: translateY(0) scale(1);
          opacity: 0;
        }
      }
     } 
    .modal_wrapper {
      animation: translateAnimationIn 300ms;
      background: #fff;
      border-radius: 20px 20px 0 0;

      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      .modal_content {
        animation: none;
  
        position: relative;
        transform: translateY(0) scale(1);
        left: auto;
        right: auto;
        bottom: auto;
  
        box-sizing: border-box;
        padding: 24px 12px;
        border-radius: 20px 20px 0 0;
        max-height: calc(90vh - 80px);
        opacity: 0;
        .header {
          .title {
          }
          .close {
          }
        }
  
        .content {
          .btn_container {
            .btn_cancel {
              display: none;
            }
            button {
              padding: 12px;
              font-size: 16px;
              min-width: 100%;
            }
          }
        }
      }
    }
  }
}
