.container {
    margin: auto;
    background: #FFF;
    .nav_container {
        margin: auto;
        background-color: #f8f9fc;
        color: #2d2d2d;
        font-size: 36px;
        line-height: 210px;
        padding-left: 20px;
        h1 {
            max-width: 1200px;
            margin: auto;
        }
    }
    .header_nav_content {
        width: 100%;
        background: #fff;
        transition: all 200ms;
        min-height: calc(100vh - 700px);

        padding-bottom: 120px;
        .header_nav_container {
            padding-top: 56px;
        }
        h2 {
            max-width: 1200px;

            font-size: 24px;
            line-height: 31px;
            padding-left: 20px;
            margin: auto;
            margin-bottom: 26px;

            box-sizing: border-box;
        }

        .header_nav_width {
            max-width: 1200px;
            margin: auto;

            padding: 0 20px 32px;
            font-size: 16px;
            line-height: 21px;
            font-weight: 600;
            color: #000;

            display: grid;
            grid-template-rows: 180px;
            grid-template-columns: repeat(auto-fill, 180px);
            box-sizing: border-box;
            justify-content: flex-start;
            .header_nav_items{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 8px;
                width: 100%;
                transition: all 400ms;
                color: #000;
                text-decoration: none;

                min-height: 180px;
                svg, img {
                    opacity: 0.4;
                    height: 60px;
                }
                p {
                    opacity: 0.4;
                    margin-top: 24px;
                    margin-bottom: 12px;
                    font-weight: 500;
                    font-size: 16px;

                    padding: 0 16px;
                    text-align: center;

                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &:hover {
                    background-color: #eee;
                    svg, p, img {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px)  {
    .container {
        .nav_container {
            h1 {
                font-size: 24px;
                line-height: 120px;
            }
        }
        .header_nav_content {
            min-height: calc(100vh - 600px);
            .header_nav_container {
                padding-top: 32px;
            }
            h2 {
                max-width: 1200px;
    
                font-size: 20px;
            }
            .header_nav_width {
                grid-template-rows: 30vw;
                grid-template-columns: repeat(auto-fill, 30vw);
                .header_nav_items{
                    min-height: 30vw;
                    svg {
                        opacity: 0.4;
                        height: 40px;
                    }
                    p {
                        margin-top: 24px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 560px)  {
    .container {
        .nav_container {
            h1 {
                font-size: 24px;
                line-height: 120px;
            }
        }
        .header_nav_content {
            min-height: calc(100vh - 600px);
            
            .header_nav_width {
                grid-template-rows: calc(50vw - 28px);
                grid-template-columns: repeat(auto-fill, calc(50vw - 28px));
                .header_nav_items{
                    min-height: calc(50vw - 28px);
                    svg {
                        opacity: 0.4;
                        height: 40px;
                    }
                    p {
                        margin-top: 24px;
                    }
                }
            }
        }
    }
    
}