.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 24px 96px;

  @media (min-width: 1440px) {
    max-width: 1040px;
    padding-top: 48px;
  }

  @media (max-width: 779px) {
    padding: 24px 16px 72px;
  }
}
