.form_container {
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #eaecf0;
    border-radius: 4px;
  }
  display: flex;
  width: 100%;
  flex-direction: column;
  .form_group_1_1 {
    display: flex;
    .form_item {
      flex: 1;
    }
    .form_item:first-child {
      margin-right: 16px;
    }
  }
  .form_group_1_2 {
    display: flex;
    .form_item_1 {
      margin-right: 16px;
      flex: 1;
      min-width: 140px;
    }
    .form_item_2 {
      flex: 3;
    }
  }
}

@media screen and (max-width: 600px) {
  .form_container {
    .form_group_1_1 {
      .form_item {
      }
      .form_item:first-child {
        margin-right: 12px;
      }
    }
    .form_group_1_2 {
      .form_item_1 {
        margin-right: 12px;
        flex: 1;
        min-width: 0;
      }
      .form_item_2 {
        flex: 1;
      }
    }
  }
}
