.container {
  .main_btn {
    text-transform: capitalize;

    display: flex;
    justify-content: flex-end;
    button {
      padding: 10px 16px;
      color: #fff;
      background-color: #3c3e40;
      font-size: 14px;
      line-height: 17px;

      border-radius: 8px;
      cursor: pointer;

      transition: all 400ms;

      border: 0;
      outline: none;
      text-transform: capitalize;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        opacity: 1;
        background: #000;
      }
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.4);
    transition: all 500ms;
    z-index: -1;
    opacity: 0;
    height: 100%;
    width: 100%;
    &.show {
      opacity: 1;
      z-index: 999;
    }
    .modal_content {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      max-height: calc(88vh - 80px);

      max-width: 560px;
      width: calc(100vw - 24px);
      box-sizing: border-box;
      background: #fff;
      padding: 32px 24px 24px;
      border-radius: 16px;

      text-align: center;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        color: #333;

        width: 100%;
        text-align: left;

        margin-bottom: 25px;
      }
      .btn_container {
        margin-top: 16px;
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .btn_cancel,
        button {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 10px;
          color: #fff;
          background-color: #3c3e40;
          font-size: 14px;
          min-width: 120px;

          border-radius: 8px;
          cursor: pointer;

          transition: all 400ms;

          border: 0;
          outline: none;
          &:hover {
            opacity: 0.8;
          }
          &:active {
            opacity: 1;
            background: #000;
          }
        }
        .btn_cancel {
          margin-right: 12px;
          background: #edeff2;
          color: #000;
          opacity: 1;
          &:hover {
            opacity: 1;
            background: #f8f9fc;
          }
          &:active {
            background: #e1e3e6;
          }
        }
      }
    }
    .form_container {
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #eaecf0;
        border-radius: 4px;
      }
      display: flex;
      width: 100%;
      flex-direction: column;
      .form_group_1_1 {
        display: flex;
        .form_item {
          flex: 1;
        }
        .form_item:first-child {
          margin-right: 16px;
        }
      }
      .form_group_1_2 {
        display: flex;
        .form_item_1 {
          margin-right: 16px;
          flex: 1;
          min-width: 140px;
        }
        .form_item_2 {
          flex: 3;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .main_btn {
      button {
      }
    }

    .modal {
      .modal_content {
        padding: 32px 16px 24px;
        h2 {
        }
        .btn_container {
          button {
          }
          .btn_cancel {
          }
        }
      }
      .form_container {
        .form_group_1_1 {
          .form_item {
          }
          .form_item:first-child {
            margin-right: 12px;
          }
        }
        .form_group_1_2 {
          .form_item_1 {
            margin-right: 12px;
            flex: 1;
            min-width: 0;
          }
          .form_item_2 {
            flex: 1;
          }
        }
      }
    }
  }
}
