.form_container {
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #eaecf0;
    border-radius: 4px;
  }
  display: flex;
  width: 100%;
  min-width: 0;
  flex-direction: column;
  .form_group_1_1 {
    display: flex;
    gap: 16px;
    .form_item {
      flex: 1;
      min-width: 0;
    }
  }
  .form_group_1_2 {
    display: flex;
    gap: 16px;
    .form_item_1 {
      flex: 1;
      min-width: 0;
    }
    .form_item_2 {
      flex: 3;
      min-width: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .form_container {
    .form_group_1_1 {
      gap: 12px;
    }
    .form_group_1_2 {
      gap: 12px;
      .form_item_1,
      .form_item_2 {
        flex: 1;
      }
    }
  }
}
