.container {
    h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 36px;
        font-weight: 900;
        color: #1a0000;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 14px;
      }
      
      .product_advantage {
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 12px;

        display: flex;
        flex-wrap: wrap;

        list-style: decimal;
        li {
          display: inline-flex;
          min-width: calc(50% - 12px);
          margin-bottom: 6px;
          margin-right: 12px;
          &::before {
            -webkit-box-flex: 0;
            content: '';
            width: 4px;
            min-width: 4px;
            height: 4px;
            margin-top: 8px;
            margin-right: 8px;
            background-color: rgba(0, 0, 0, 0.45);
            vertical-align: middle;
            border-radius: 50%;

            display: block;
          }
        }
      }
}

@media screen and (max-width: 1080px) {
    .container {
        h1 {
            font-size: 26px;
            line-height: 28px;
            font-weight: 500;
  
            margin-bottom: 8px;
        }
        .product_advantage {
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.65);
            margin-bottom: 12px;
            li {
                

                display: flex;

                &::before {
                -webkit-box-flex: 0;

                content: '';
                width: 4px;
                height: 4px;
                margin-top: 8px;
                margin-right: 8px;
                background-color: rgba(0, 0, 0, 0.45);
                vertical-align: middle;
                border-radius: 50%;
                }
            }
        }       
    }
}

@media screen and (max-width: 820px) {
   .container {
        h1 {
            margin-bottom: 8px;
        }
   }
}

